# Python önbellek ve derlenmiş dosyalar
__pycache__/
*.pyc
*.pyo
*.pyd

# Sanal ortam
env/
venv/
*.env

# PyCharm dosyaları
.idea/
*.iml

# Diğer gereksiz dosyalar
.DS_Store

# Büyük veri ve görüntü dosyaları
dataset/
*.csv
*.png
*.jpg
*.jpeg

data/
*.csv


Deneme2/
*.csv